.login {
    width: 50%;
    margin: 0 auto;
}

.login > h3 {
    margin: 40px 0 40px;
    text-align: center;
}

.login > h5 {
    margin-top: 30px;
}

.logo {
    width: 200px;
    margin: 20px auto 0;
}

.logo-container {
    text-align: center;
}